.works {
  &__items {
    padding-bottom: 60px;
  }

  &__main-title {
    margin-bottom: 45px; //fL m
  }

  @media (max-width: $md3) {
    // display: flex;
    // overflow: auto; //4 scroll ? work & w/o him

    &__main-title {
      margin-bottom: 20px; //fL m
    }

    &__items {
      padding-bottom: 30px; //fL m
    }
  }
}

.works__item {
  padding-bottom: 30px; //fL p
  margin-bottom: 30px; //fL m
  border-bottom: 1px solid #e0e0e0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $md3) {
    display: flex;
    align-items: flex-start;
  }

  // @media (max-width: $md3) {
  //   flex: 0 0 90%;
  //   margin-right: 15px; //fL m
  // }
}

.works__image {
  flex: 0 0 246px;
  display: block; //????
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden; //my 1.?????

  @media (max-width: $md3) {
    margin-bottom: 17px; //fL m
    // padding-bottom: 60%; //fL p ---------------------------------????????????????????????
  }

  //   img {
  //     height: 100%; //my 2.???????? or if not works
  //     display: block;
  //   }
}

.works__body {
  flex: 1 1 auto;

  @media (min-width: $md3) {
    padding-left: 18px; //fL p
  }
}

.works__title {
  color: inherit; //fL
  //   display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 146.666667%; /* 44/30 */
  margin-bottom: 15px; //fL m
  transition: color 0.3s; // ease 0s;

  @media (max-width: $md3) {
    font-size: 24px;
  }

  @media (min-width: $md2) {
    &:hover {
      color: #ff6464; //no var
    }
  }
}

.works__info {
  display: flex;
  align-items: center;
  margin-bottom: 15px; //fL m
}

.works__year {
  background-color: #142850; //fL bg
  display: inline-flex;
  border-radius: 16px;
  height: 25px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  color: #fff; //no var
  font-weight: 900;
  font-size: 18px;
}

.works__category {
  color: #8695a4; //no var
  font-size: 20px;
  margin-left: 25px; //fL m
}
